.checkout-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.checkout-container h1 {
    margin-left: 20px;
    margin-top: 60px;
    text-align: left;
    margin-bottom: 30px;
    font-size: 38px;
}

.checkout-container h1 span {
    color: #ff0000;
}

.checkout-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-grow: 1;
    margin-bottom: 50px;
}

.cart-items {
    flex: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.item {
    display: flex;
    gap: 15px;
    margin-bottom: 23px;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.item img {
    width: 180px;
    height: 180px;
    margin-left: 30px;
    border-radius: 0px;
    object-fit: contain;
    padding: 10px;
}

.item-info {
    flex-grow: 1;
}

.item-info h2 {
    margin: 0;
}

.item-info p {
    margin: 5px 0;
}

.item-name {
    font-size: 20px;
}

.item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.item-quantity {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.item-price {
    font-size: 18px;
}

button i {
    font-size: 24px;
    color: #333;
    display: inline-block;
}

button:hover i {
    color: #ff0000;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 5px;
    top: 130px;
    left: 220px;
    position: absolute;
}

.quantity button {
    background: none;
    color: #ff0000;
    border: none;
    cursor: pointer;
    font-size: 40px;
    align-items: center;
}

.delete {
    position: absolute;
    bottom: 0;
    right: 0;
    background: none;
    border: none;
    color: #ff0000;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
}

.delete:hover {
    color: #d00000;
}

.order-summary {
    flex: 1;
    color: #2F0606;
    background: #D9D9D9;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.order-summary h2 {
    font-size: 28px;
    text-align: center;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.total, .total-price {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 20px;
    padding-top: 10px;
}

.total-price {
    border-top: 1px solid #2F0606;
}

.checkout-button {
    width: 10%;
    padding: 10px;
    background: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    margin-top: auto;
    bottom: 10px;
    left: 0;
    margin-top: auto;
    margin-left: 50px;
}

footer {
    background-color: #d3d3d3;
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.footer {
    display: inline-block;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    margin-left: 600px;
}

.footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    transition: all 0.3s ease;
}

.footer a:hover {
    color: #5c140c;
}

