.checkout-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1; /* Ini akan mengisi sisa ruang yang tersedia */
}

.checkout-container h1 {
    margin-left: 20px;
    margin-top: 60px;
    text-align: left;
    margin-bottom: 30px;
    font-size: 38px;
}

.checkout-container h1 span {
    color: #ff0000;
}

.checkout-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-grow: 1; /* Memberikan ruang untuk konten produk */
    margin-bottom: 50px; /* Jarak ke bawah */
    
}

.cart-items {
    flex: 2;
}

.item {
    display: flex;
    gap: 15px;
    margin-bottom: 23px;
    position: relative; /* Posisi relatif untuk anak */
    border-bottom: 1px solid #ddd;
}

.item img {
    width: 180px;
    height: 180px;
    margin-left: 30px;
    border-radius: 0px;
    object-fit: contain; 
    padding: 10px; 

}

.item-info {
    flex-grow: 1;
}

.item-info h2 {
    margin: 0;
}

.item-info p {
    margin: 5px 0;
}

.item-name {
    font-size: 20px;

}
.item-details {
    display: flex;
    flex-direction: column; /* Menyusun quantity dan harga secara vertikal */
    align-items: flex-end; /* Menyusun ke sebelah kanan */
}

.item-quantity {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px; /* Memberi jarak antara quantity dan harga */
}

.item-price {
    font-size: 18px;
}

button i {
    font-size: 24px; /* Atur ukuran ikon */
    color: #333; /* Warna ikon */
    display: inline-block;
}

button:hover i {
    color: #ff0000; /* Warna saat hover */
}

.quantity {
    display: flex;
    align-items: center;
    gap: 5px;
    top: 130px; /* Mengatur posisi tombol lebih dekat ke atas */
    left: 220px; /* Letakkan di kanan */
    position: absolute; 
}
.quantity button {
    background: none; /* Buat transparan */
    color: #ff0000; /* Warna merah */
    border: none;
    cursor: pointer;
    font-size: 40px; /* Atur ukuran ikon */
    align-items: center;
}

.delete {
    position: absolute; /* Posisi absolut agar diatur dalam item */
    bottom: 0; /* Letakkan di bawah */
    right: 0; /* Letakkan di kanan */
    background: none;
    border: none;
    color: #ff0000; /* Warna merah */
    cursor: pointer;
    font-size: 20px; /* Atur ukuran ikon */
    margin: 10px; /* Berikan jarak dari tepi */
}

.delete:hover {
    color: #d00000; /* Warna saat hover */
}


.order-summary {
    flex: 1;
    color: #2F0606;
    background: #D9D9D9;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;  /* Menyusun elemen secara vertikal */
    justify-content: space-between; /* Memastikan tombol checkout berada di bawah */
    
}
.order-summary h2 {
    font-size: 28px;
    text-align: center;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.total, .total-price {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 20px;
    padding-top: 10px;
}

.total-price {
    border-top: 1px solid #2F0606;
}


.checkout-button {
    width: 10%;
    padding: 10px;
    background: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    margin-top: auto; 
    bottom: 0;
    left: 0;
    margin-bottom: 40px;
    margin-left: 50px;

}


footer {
    text-align: center;
    padding: 20px 0;
    margin-top: auto; 
    min-height: 80px;
    gap: 30px;
}

footer .footer {
    display: inline-block; 
    background-color: #d3d3d3; 
    padding: 10px 20px; 
    border-radius: 14px; 
    color: black;
}

footer .footer a {
    text-decoration: none;
    color: black; /* Warna teks link */
    font-size: 30px;
    margin: 0 7px; /* Jarak horizontal antar elemen */
}

